<!DOCTYPE html>
<html>
  <head>
    <title>Castlebnb</title>
    <%= favicon_link_tag source='http://res.cloudinary.com/doohtqbau/image/upload/c_scale,e_make_transparent:0,h_35,w_40/v1523391840/logo_ydunqg.png'%>
    <%= csrf_meta_tags %>
    <%=javascript_include_tag
  "https://maps.googleapis.com/maps/api/js?key=AIzaSyCUhyUDM4TjQgXoJRb8iBei-vfYOCR-KH0"%>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "firstname": "<%= current_user.firstname %>",
          "lastname": "<%= current_user.lastname %>",
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
